body{
    position: relative;
    background-color: darkkhaki;
}
img#mao200{
    position: relative;
    left: 10%;
    top: 10pt;
}
img#dino01{
    position: relative;
    top: -140pt;
    left: 27%;
    border-radius: 25px;
}

img#gammebear{
    position: relative;
    top: -260pt;
    left: 33%;
    border-radius: 25px;
}

img#David200{
    position: relative;
    left: 60%;
    top: -70%;
}

img#Pedro200{
    position: relative;
    left: 80%;
    top:   -235pt;
}
h2{
    position:relative;
    left: 42%;
    top: -155pt;
    font-size: 30pt;
    width: 300px;
}